﻿@inject MRPIIMVC.Models.Account.User currentUser
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MRPIIMVC</title>

    <script>
                    window.urlBase = '@Url.Content("~/")'
        window.urlPath = '@Context.Request.Path'    
        
    </script>
   
    <link rel="stylesheet" href="~/lib/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery.min.js"></script>
    @*<script src="~/lib/angular/material.min.js"></script>
        <link href="~/lib/angular/angular-material-min.css" rel="stylesheet" />*@

    <script src="~/lib/toastr.min.js"></script>

    <script src="~/lib/Kendo/kendo.all.min.js"></script>
    <link href="~/lib/Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/lib/Kendo/kendo.default.min.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

   
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    @RenderSection("head", required: false)
 

    @*<link href="~/lib/Vue/bootstrap.min.css" rel="stylesheet" />  
    <link href="~/lib/Vue/bootstrap-vue.css" rel="stylesheet" />*@
    <link href="~/lib/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @if (Context.Request.Query["sec"] == "1")
    {
        <script src="~/js/securityTagHelper.js"></script>
    }
    <style>
        body {
            padding-top: 0px;
            padding-bottom: 0px;
            font-size:1.5em;
        }
    </style>

</head>
<body>
    @if (ViewBag.hideSharedLayout == true)
    {
        <style>
            .wrapper {
                margin-left: 0px;
                height: 100%;
            }
        </style>
        <div id="container" class="container-fluid body-content">
            @RenderBody()


            @if (Context.Request.Query["sec"] == "1")
                {
                @Html.Partial("SecurityTagHelperPartial")
                }
        </div>
    }
    else
    {
        <div class="wrapper">
            <div id="container" class="container-fluid body-content">
                @RenderBody()


                @if (Context.Request.Query["sec"] == "1")
                {
                    @Html.Partial("SecurityTagHelperPartial");
                }
            </div>
        </div>
        //Fixed to top and listed after wrapper so the sub menues are on top of wrapper
        <div class="navbar navbar-inverse navbar-fixed-left" style="position:fixed; top:0px; display:block; padding:0; ">
            @*<a class="navbar-brand" href="#">LOGO</a>*@
            @if (currentUser.userName != null)
            {

                <div id="Schedule" class="dropdown" style="min-width:100%">
                    <button class="btn " style="min-width:100%; margin-bottom:5px;">
                        <div><span class="glyphicon glyphicon-time bigIcon"></span></div>
                        <div>Schedule</div>
                    </button>
                    <div class="dropdown-content">
                        <security tag="a" id="securityLink" page="Layout" href="@Url.Action("Schedule", "Schedule")">Schedule </security>
                        <a asp-controller="schedule" asp-action="Prepress">Prepress</a>

                        <security tag="a" id="HolidayCalendarLink" page="Layout" href="@Url.Action("HolidayCalendar", "Schedule")">Holiday Calendar</security>
                    </div>
                </div>
                @*<div class="dropdown" style="min-width:100%">
                        <button class="btn" style="min-width:100%; margin-bottom:5px;">
                            <div><span class="glyphicon glyphicon-cog bigIcon"></span></div>
                            <div>Admin</div>
                        </button>
                        <div class="dropdown-content">

                        </div>
                    </div>*@
            }
            <div class="dropdown" style="min-width:100%">
                <button class="btn" style="min-width:100%; margin-bottom:5px;">
                    <div><span class="glyphicon glyphicon-user bigIcon"></span></div>
                    <div>@currentUser.userName</div>
                </button>
                <div class="dropdown-content">
                    <a asp-area="" asp-controller="Account" asp-action="LogOff">@currentUser.userName Log Off</a>
                    @if (currentUser.userName == "suser")
                    {
                        <a asp-controller="Grid" asp-action="editGrid">Edit Grids</a>
                        <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                    }
                </div>
            </div>

        </div>
    }

   

    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>

    
    <environment exclude="Development">
        <script src="~/js/directives/filteredGrid.js" asp-append-version="true"></script>
    </environment>
    <environment names="Development">
        <script src="~/js/directives/filteredGrid.js"></script>
    </environment>
    <script src="~/js/prototypes.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
