﻿<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="~/lib/angular/angular.min.js"></script>
<script src="~/lib/angular/ngAnimate.js"></script>
<script src="~/lib/angular/angular-aria.min.js.js"></script>
<script src="~/lib/angular/angular-sanitize.min.js"></script>
<script src="~/lib/angular/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="~/lib/angular/angular-material.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.js"></script>

