﻿@model MRPIIMVC.Controllers.Account.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2 class="text-center">Log In</h2>
<br />
@using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="row">
            <div class="col-xs-6 text-right">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="col-xs-2 k-textbox">
                @Html.TextBoxFor(m => m.UserName, new { autofocus = "" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-6 text-right">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="col-xs-2 k-textbox">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-6 text-right">
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </div>
            <div class="col-xs-6 text-left">
                @Html.CheckBoxFor(m => m.RememberMe)
            </div>
        </div>
        <br />
        <div class="span-12 text-center">
            <input class="k-button" type="submit" value="Log in" />
        </div>
    </fieldset>

}