﻿@*modal popup on security tags.*@ 
<div style="visibility: hidden" ng-app="SecurityTagHelper" ng-controller="tagHelperCtrl">
    <div class="md-dialog-container" id="myStaticSecurityDialog">
        <md-dialog>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h5 class="modal-title" id="exampleModalLabel">Security for {{selectedElement.id}} on page {{page}}</h5>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="closeDialog()" aria-label="close">
                        <span class="glyphicon glyphicon-remove"></span>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content>
                <div layout="row">
                    <table class="table table-boardered">
                        <thead>
                            <tr>
                                <td>Company</td>
                                <td>Security Group</td>
                                <td>Match Group</td>
                                <td>Hide Control</td>
                                <td>Replace Control</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="r in selectedElement.rules">
                                <td>
                                    <md-input-container ng-click="setPattern()">
                                        <label>Companies</label>
                                        <md-select ng-model="r.companyies" multiple ng-click="checkMissingSelect()">
                                            <md-option ng-value="opt" ng-repeat="opt in vm.companies">{{opt}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </td>
                                <td>
                                    <md-input-container ng-click="setPattern()">
                                        <label>Access Groups</label>
                                        <md-select ng-model="r.securityGroups" multiple ng-click="checkMissingSelect()">
                                            <md-option ng-value="opt.id" ng-repeat="opt in vm.securityGroups">{{opt.name}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </td>
                                <td>
                                    <md-checkbox ng-model="r.match" aria-label="Match">
                                    </md-checkbox>
                                </td>
                                <td>
                                    <md-checkbox ng-model="r.hide" aria-label="Hide Control">
                                    </md-checkbox>
                                </td>
                                <td>
                                    <md-input-container class="md-block">
                                        <label>Replacement</label>
                                        <textarea ng-model="r.replaceContent" md-maxlength="500" rows="2" md-select-on-focus></textarea>
                                    </md-input-container>
                                </td>
                                <td>
                                    <md-button class="md-raised" ng-click="suggestContent(r)"><span class="glyphicon glyphicon-pencil"></span></md-button>
                                </td>
                                <td>
                                    <md-button class="md-warn md-raised"><span class="glyphicon glyphicon-remove"> </span></md-button>
                                </td>
                            </tr>
                            <tr ng-click="addRule()" class="btn md-primary md-raised">
                                <td colspan="3">Add Rule </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" layout="row">
                    <div flex></div>
                    <md-button flex="20" class="md-raised md-primary md-right " data-dismiss="modal">Close</md-button>
                    <md-button flex="25" class="md-raised md-primary md-right" ng-click="saveSecurity()">Save</md-button>                    
                </div>
            </md-content>
        </md-dialog>
    </div>
</div>


<script>
$(document).ready(function () {
    $(".security").after(function () {
        return '<span class="glyphicon glyphicon-cog securty-clog" style="top:-12px; position:relative"> </span>'
    });
    $(".securty-clog").click(function (a, b, c) {
        var appElement = document.querySelector('[ng-app=SecurityTagHelper]');
        var appScope = angular.element(appElement).scope();
        var target = a.target.previousSibling;
        appScope.show(target);
        appScope.$apply();
    });
    var todoRootNode = jQuery('[ng-controller=tagHelperCtrl]');
    angular.bootstrap(todoRootNode, ['SecurityTagHelper']);
});


var app =angular.module("SecurityTagHelper", ['ui.bootstrap', 'ngMaterial'])
 .controller("tagHelperCtrl", ['$scope', '$http', '$mdDialog', function (scope, $http, $mdDialog) {

     $http.get(window.urlBase + "security/getPageSecurity?path="+ window.urlPath+"&cacheBreak=" + new Date().valueOf())
                  .then(function mySuccess(response) {
                      scope.vm = response.data;
                      
                  }, function myError(response) {
                      toastr.error("Failed to load tasks", '')
                  });
     scope.page= "@Context.Request.Path"
     scope.show = function (element) {
     scope.ele = element;
     scope.selectedElement = false;
     if (scope.vm.page) {
         for (var j = 0, it; it = scope.vm.page.secElements[j]; j++) {
             if (it.id == element.id) {
                 scope.selectedElement = it;
             }
         }
     }
     if (scope.vm.layoutPage) {
         for (var j = 0, it; it = scope.vm.layoutPage.secElements[j]; j++) {
             if (it.id == element.id) {
                 scope.selectedElement = it;
             }
         }
     }

         if (!scope.selectedElement)
             scope.selectedElement = { id: element.id, rules: [], }        
         //$("#SecurityTagHelper").modal()
         scope.test = $mdDialog.show({
             clickOutsideToClose: true,
             contentElement: '#myStaticSecurityDialog',
             parent: angular.element(document.body)
         });

     }
     scope.addRule = function () {
         scope.selectedElement.rules.push({ companyies: [], securityGroups :[], match:false, hide:false, replaceContent:"" });
     }
     scope.suggestContent=function(rule)
     {
         var a = scope.ele;
         rule.replaceContent = scope.selectedElement.content
         
     }
     scope.saveSecurity = function () {
         $http({
             url: window.urlBase + "Security/SaveSecurityPage?cacheBreak=" + new Date().valueOf() + "&userId=" + scope.userId,
             method: "POST",
             data: scope.vm,
             headers: { 'Content-Type': 'application/json' }
         }).then(function mySuccess(response) {
            
             toastr.success("Event Saved")
         }, function myError(response) {
             toastr.error("Failed to Save Event", response.data)
         });

     }
     scope.closeDialog = function () {
         $mdDialog.hide()
     }
     scope.closeOptions = function () { // convuluted code to hide the select window in modals
        
         if (scope.patternOpen == 2)
             $('md-select-menu').hide()
         if (scope.patternOpen === true) {
             setTimeout(function () { $('md-select-menu').show() }, 600)
         }
         if (scope.patternOpen)
             scope.patternOpen = 2
     }
     scope.checkMissingSelect = function () {
         setTimeout(function () { $('md-select-menu').show() }, 600)
     }
     scope.setPattern = function () {
         scope.patternOpen = true;
     }
 }]);


</script>
