﻿

<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">

@using MRPIIMVC.Helpers



@if (Html.IsDebug())
{
    <script src="~/lib/Vue/vue.js" ></script>
}
else
{
    <script src="~/lib/Vue/vue-min.js"></script >
}
@*<script src="~/lib/Vue/bootstrap-vue.js"></script>*@
<script src="~/lib/Vue/vue-resource.min.js"></script>@*$http*@
<script src="~/lib/Vue/uiv.min.js"></script>
<script>     
</script>