﻿<md-dialog aria-label="Edit Events for {{dateInfo.date.toDateString()}}" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Events for {{dateInfo.date.toDateString()}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">  <span class="glyphicon glyphicon-remove"></span>                                    
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
               <div ng-repeat="item in dateInfo.events" layout="row" >
                   <md-input-container>
                       <label>Event Title</label>
                       <input ng-model="item.title">
                   </md-input-container>                 
                  <div><md-button md-raised class="md-primary md-raised" ng-click="save(item)">Save</md-button></div>
                   <div><md-button md-raised class="md-warn md-raised" ng-click="delete(item)">Delete</md-button></div>
               </div>
                <div>
                
                <md-button md-raised class="md-primary md-raised" ng-click="addItem()">Add Event</md-button></div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
          
        </md-dialog-actions>
    </form>
</md-dialog>