﻿<md-dialog aria-label="Edit Event" ng-transclude="parent" >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Event for {{dateInfo.date.toDateString()}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <span class="glyphicon glyphicon-remove"></span>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <div layout="row">
            <md-input-container flex="30">
                <label>Event Title</label>
                <input ng-model="dateInfo.evt.title" />
            </md-input-container>
            <md-input-container flex="30">
                <label>Calendar for Event</label>
                <md-select ng-model="dateInfo.selectedCalendarFilter">
                    <md-option ng-value="opt" ng-repeat="opt in dateInfo.CalendarOptions">{{ opt.type + ' ' + opt.calendar_name }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex="30">
                <label>Start</label>
                <md-datepicker ng-model="dateInfo.evt.start" md-placeholder="Start date"></md-datepicker>
            </md-input-container>
            <md-input-container>
                <label>End</label>
                <md-datepicker ng-model="dateInfo.evt.end" md-placeholder="End date"> Date</md-datepicker>
            </md-input-container>
                <datetime-range start="start"
                        end="end"
                        presets="presets"
                        on-change="changed()"
                        on-change-start="changedStart()"
                        on-change-end="changedEnd()"
                        on-close="closed()">
        </datetime-range>
</div>
        <div layout="row">

        </div>
        <md-dialog-content>
            <div class="md-dialog-content">

            </div>
            {{dateInfo |json:5}}
        </md-dialog-content>
        <md-dialog-actions layout="row">

        </md-dialog-actions>
    </form>
</md-dialog>