﻿<style>
    #splitSchedule thead {
        border-top-width: 0px;
        background-color: black;
        border-bottom: none;
        border-top: none;
        color: white;
    }
</style>

<md-dialog aria-label="Split Schedule" ng-cloak style="min-width:300px" id="splitSchedule">
    <form>
        <md-toolbar title="Split Schedule">
            <div class="md-toolbar-tools">
                <span flex style="text-align:center">Split Schedule</span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <span class="glyphicon glyphicon-remove"></span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div>
                <div ng-if="inProgress()" layout="row" layout-align="center start" style="padding-left: 50px; padding-right:50px; padding-top:10px; padding-bottom:10px;">
                    <md-progress-circular ng-if="inProgress()" md-mode="indeterminate"></md-progress-circular>
                </div>
                <div ng-if="inProgress()" layout="row" layout-align="center start" style="padding-left: 50px; padding-right:50px; padding-top:10px; padding-bottom:10px;">
                    <h3 ng-if="inProgress()">{{progressStatus}}...</h3>
                </div>

                <div class="md-dialog-content" style="padding-top:.2em;" ng-show="!inProgress()">
                    <h5 align="center">{{order}} - {{item}}</h5>
                    <table ng-table class="table table-bordered table-hover table-condensed editable-table">
                        <tr>
                            <td align="center">Split</td>
                            <td align="center">Footage</td>
                            <td align="center"></td>
                        </tr>
                        <tr ng-repeat="s in splits">
                            <td title="'Split'" width="10px" style="text-align:center; vertical-align:middle;">{{s.splitNum}}</td>
                            <td title="'Footage'" width="80px" style="padding:2px">
                                <input ng-disabled="isDisabled(s)" class="form-control input-sm" zeroinputdecimal ng-model="s.footage" style="text-align:center; vertical-align:middle; max-height:20px" />
                            </td>
                            <td><i ng-if="canCancel(s)" ng-click="pushRemovedSplit(splits)" class="material-icons">highlight_off</i></td>
                        </tr>
                        <tr>
                            <td align="left" title="'Split'">Remaining</td>
                            <td align="center" title="'Footage'">{{getRemainingFootage() | number}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td align="left" title="'Split'">Total</td>
                            <td align="center" title="'Footage'">{{totalFootage | number}}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-warn md-raised" ng-click="cancelDialog()" ng-show="!inProgress()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-click="saveDialog(splits)" ng-disabled="canSave()" ng-show="!inProgress()">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>