﻿@inject Data.Phoenix db
@inject MRPIIMVC.Models.Account.User currentUser;
@section head{

    @Html.Partial("AngularPartial");
}

<div ng-app="KendoDemos" ng-controller="MyCtrl">
    <select ng-model="currentGrid" ng-options="x.name for x in grids" ng-change="updateGrid()" ></select>
   

    <uib-tabset>
        <uib-tab heading="Grid Info">
            <div class="row">
                <div class="col-xs-3 text-right">Name: </div><div class="col-xs-3 text-left">{{vm.gridInfo.name}}</div>
                <div class="col-xs-3 text-right">Id: </div><div class="col-xs-3 text-left">{{vm.gridInfo.id}}</div>
                <div class="col-xs-3 text-right">is Visible: </div><div class="col-xs-3 text-left"><input type="checkbox" ng-model="vm.gridInfo.isVisible" /> </div>
                <div class="col-xs-3 text-right">is isDistinct: </div><div class="col-xs-3 text-left"><input type="checkbox" ng-model="vm.gridInfo.isDistinct" /> </div>
                <div class="col-xs-3 text-right">is Active: </div><div class="col-xs-3 text-left"><input type="checkbox" ng-model="vm.gridInfo.isActive" /> </div>
                <div class="col-xs-3 text-right">use Paging: </div><div class="col-xs-3 text-left"><input type="checkbox" ng-model="vm.gridInfo.usePaging" /> </div>
                <div class="col-xs-3 text-right">Auto Select First Row: </div><div class="col-xs-3 text-left"><input type="checkbox" ng-model="vm.gridInfo.autoSelectFirstRow" /> </div>
                <div class="col-xs-3 text-right">Max Rows: </div><div class="col-xs-3 text-left"><input type="number" ng-model="vm.gridInfo.MaxRows" /> </div>
                <div class="col-xs-3 text-right">Page Size: </div><div class="col-xs-3 text-left"><input type="number" ng-model="vm.gridInfo.pageSize" /> </div>
                <div class="col-xs-3 text-right">Base Sort: </div><div class="col-xs-3 text-left"><input ng-model="vm.gridInfo.baseQuerySort" /> </div>
                <div class="col-xs-3 text-right">Base Query Text </div><div class="col-xs-9 text-left"><textarea style="width:100%; max-width:100%;" ng-model="vm.gridInfo.baseQueryText" rows="15"></textarea> </div>
            </div>
            <div class="row">
                <div class="btn btn-success col-xs-1" ng-click="save()">Save</div>
            </div>
        </uib-tab>
        <uib-tab heading="Columns">
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>FieldName</th>
                        <th>Text</th>
                        <th>Custom Field</th>
                        <th>Display Order</th>
                        <th>Grid Name</th>
                        <th>Grid Id</th>
                        <th>TableId</th>
                        <th>Table</th>
                        <th>Visible</th>
                        <th>Active</th>
                        <th>Include Summary</th>
                        <th>Custom Sql</th>
                        <th>Required By Code</th>
                        <th>Group By</th>
                        <th>Format String</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in vm.gridColumns ">
                        <td>{{c.id}}</td>
                        <td><input ng-model="c.fieldName" /></td>
                        <td><input ng-model="c.text" /></td>
                        <td><input ng-model="c.customField" type="checkbox" /></td>
                        <td><input style="max-width:50px;" ng-model="c.disporder" type="number" /></td>
                        <td>{{c.gridName}}</td>
                        <td>{{c.gridId}}</td>
                        <td><input style="max-width:50px;" ng-model="c.tableId" type="number" /></td>
                        <td>{{c.table}}</td>
                        <td><input ng-model="c.isVisible" type="checkbox" /></td>
                        <td><input ng-model="c.isActive" type="checkbox" /></td>
                        <td><input ng-model="c.includeSummary" type="checkbox" /></td>
                        <td><input ng-model="c.customColumnSql" /></td>
                        <td><input ng-model="c.requiredByCode" type="checkbox" /></td>
                        <td><input ng-model="c.groupBy" type="checkbox" /></td>
                        <td><input ng-model="c.formatString" /></td>
                    </tr>
                    <tr><td colspan="16" class="btn-default" ng-click="addColumn()" >Add Column </td></tr>
                </tbody>
            </table>
        </uib-tab>
        <uib-tab heading="Filters">
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Grid Id</th>
                        <th>Id</th>
                        <th>FieldName</th>
                        <th>Text</th>
                        <th>Display Order</th>
                        <th>Type</th>
                        <th>Control Source</th>
                        <th>Default Value</th>
                        <th>Custom Filter</th>
                        <th>Input Mask</th>
                        <th>Table</th>
                        <th>Condition Type Id</th>
                        <th>Visible</th>
                        <th>Active</th>
                        <th>Required</th>
                        <th>do Not Generate Where</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="f in vm.gridFilters ">
                        <td>{{f.gridId}}</td>
                        <td>{{f.id}}</td>
                        <td><input ng-model="f.fieldName" /></td>
                        <td><input ng-model="f.text" /></td>
                        <td><input style="max-width:50px;" ng-model="f.disporder" type="number" /></td>
                        <td>                            
                            <select ng-model="f.controlType" ng-options="+(t.id) as t.name for t in controlTypes"></select> 
                        </td>
                        <td><input ng-model="f.controlSource" /> </td>
                        <td><input ng-model="f.defaultValue" /> </td>
                        <td><input ng-model="f.customFilter" /> </td>
                        <td><input ng-model="f.inputMask" /> </td>
                        <td>                           
                            <select ng-model="f.tableId" ng-options="+(t.id) as t.name for t in tables"></select>
                        </td>
                        <td>                            
                            <select ng-model="f.conditionTypeId" ng-options="+(c.id) as c.name for c in conditions"></select>
                        </td>
                        <td><input ng-model="f.isVisible" type="checkbox" /></td>
                        <td><input ng-model="f.isActive" type="checkbox" /></td>
                        <td><input ng-model="f.isRequired" type="checkbox" /></td>
                        <td><input ng-model="f.doNotGenerateWhere" type="checkbox" /></td>
                    </tr>
                    <tr><td class="btn btn-default" colspan="16" ng-click="addFilter()">Add Row</td> </tr>
                </tbody>
            </table>
        </uib-tab>
        <uib-tab heading="Preview">
            <filtered-grid grid="vm.gridInfo.name" options="previewGridInfo" ></filtered-grid>
        </uib-tab>
</uib-tabset>
    <pre>{{previewGridInfo | json:5}}</pre>
</div>
<script>

    var app = angular.module("KendoDemos", [ 'ui.bootstrap', 'ngAnimate'])
     .controller("MyCtrl", ['$scope', '$http', function (scope, $http) {
         //injected db to get this sweet!
         scope.grids = grids = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(db.cs_grids.Select(n => new { name= n.grid_name, id= n.grid_id } ).ToList()))
         scope.controlTypes =  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(db.cs_grid_control_types.Select(n => new { name= n.control_name, id= n.control_type_id } ).ToList()))
         scope.tables = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(db.ps_tables.Select(n => new { name = n.table_name, id = n.table_id }).ToList()))
         scope.conditions = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(db.cs_grid_condition_types.Select(n => new { name = n.condition_name, id = n.condition_type_id }).ToList()))
         

         scope.previewGridInfo = {
             grid: scope.currentGrid,
             multiselect: true,
             ready: function () {console.log("ready")  },
             dataLoaded: function () { console.log("dataLoaded") },
             selectionChanged: function () { console.log("selectionChanged") },
             hideFilter: false
         };
      

         scope.updateGrid = function () {
             gridName = scope.currentGrid ? scope.currentGrid.name : "on_hand";
             scope.previewGridInfo.grid = gridName;
             $http.get(window.urlBase + "grid/getGrid?name=" + gridName)
             .then(function mySuccess(response) {                 
                 scope.vm = response.data;
                 for (var j = 0, it; it = scope.grids[j]; j++) {
                     if(it.id == scope.vm.gridInfo.id)
                     {
                         scope.currentGrid = it;
                     }

                 }
             }, function myError(response) {
                 toastr.error("Failed to load VM", '')
             });

         }
         scope.updateGrid();
         scope.save = function () {
             $http({
                 url: window.urlBase + "grid/saveGrid",
                 method: "POST",
                 data: scope.vm,
                 headers: { 'Content-Type': 'application/json' }
             }).then(function mySuccess(response) {
                 scope.vm = response.data;
                 scope.updateGrid();
                 toastr.success("Grid Saved", '')
             }, function myError(response) {
                 toastr.error("Failed to Save Grid", '')
             });
         }
         scope.addFilter = function () {
             scope.vm.gridFilters.push({ id: -1, gridId:scope.vm.gridInfo.id })
         }
         scope.addColumn = function()
         {
             scope.vm.gridColumns.push({ id: -1, gridId: scope.vm.gridInfo.id, gridName :scope.vm.gridInfo.name })
         }
     }]);
</script>