﻿@inject MRPIIMVC.Models.Account.User currentUser
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv


@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


 @hostingEnv.EnvironmentName
@ViewData["DB"]
<p>@hostingEnv.ContentRootPath</p>

<p>Use this area to provide additional information.</p>
@*<security Tag="h2"></security>*@